.cardsSection{
    width: 100%;
}
.cardsHeading{
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
}
.cardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}