:root{
    --headerColor: #f2f2f2;
    --iconsColor: #7c7c7c;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    height: 5rem;
    background-color: var(--headerColor);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    z-index: 1;
}

.topLeft,.topRight, .topCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.topRight{
    grid-column: 1/3;
}

.topImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.rrssIcon,.searchIcon, .menuIcon{
    font-size: 1rem;
    text-align: center;
    margin: 0 .5rem;
    cursor: pointer;
    color: var(--iconsColor);
}

.topLinks{
    display: none;
}

.topLink--item{
    margin: 0 .5rem;
    cursor: pointer;
    transition: .3s ease;
    color: #7c7c7c;
}
.topLink--item:hover{
    color: #8ba2b4;
    transition: .3s ease;
}

@media screen and (min-width: 768px) {
    .header{
        grid-template-rows: 1;
        grid-template-columns: 1fr 3fr 1fr;
    }
    .menuIcon{
        display: none;
    }
    .topLinks{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }
    .topRight{
        grid-column: 3;
    }
}